<html>
<head th:replace="~{general.html :: head}"></head>

<body>
<div th:replace="general.html :: #head"></div>
<div style="padding:10px 20px;">
	<button onclick="listUsers()">Refresh User List</button><span id="LoadIcon" style="margin-left:10px;"></span>
	<div id="UsersList"></div>
</div>
</body>

<script>
	
function listUsers()
{
	$('#LoadIcon').html('<img src="/images/loading.gif" \> Loading...');
	var url = '/listusers';
	$('#UsersList').load(url, function(){ $('#LoadIcon').html('') });		
}

window.onerror = function (message, source, lineno) {
    source = source.replace(/[/]/g,'_');
    var msg = message + '\nSource: ' + source + ' Line# ' + lineno;
    alert('JavaScript Error: '+msg);
};

$(document).ready(function(){
	listUsers();
});
</script>
</html>